  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;500&display=swap');
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    width: 100vw;
    background-color: #ffffff;
    overflow-x: hidden;
  }
  html {
    scroll-behavior: smooth;
  }
  a {
    color: white;
    font-family: "IBM Plex Sans", sans-serif;
    letter-spacing: 2px;
  }
  .title-text {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 64px;
    color: #060A24;
    letter-spacing: 0;
    font-weight: normal;
  }
  .subtitle-text {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 36px;
    color: #060A24;
    letter-spacing: 0;
    font-weight: normal;
  }
  .paragraph-text {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 24px;
  }
  .btn-style  {
    font-family: 'IBMPlexMono-Medium', monospace;
    font-size: 18px;
    letter-spacing: 0;
    text-align: center;
    line-height: 24px;
  }
  .header {
    background-color: #ffffff;
    width: 100vw;
  }
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background: #0000ec;
  }
  .header ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
  }
  .header ul a:hover {
    background-color: #0000bf;
  } 
  .logo {
    float: left;
    display: block;
    font-size: 2em;
    padding: 10px 20px;
  }
  .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  .menu-icon {
    padding: 20px 20px;
    position: relative;
    float: right;
    cursor: pointer;
  }
  .nav-icon {
    background: black;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background 0.2s ease-out;
  }
  .nav-icon:before {
    background: black;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    top: 5px;
  }
  .nav-icon:after {
    background: black;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    top: -5px;
  }
  .menu-button {
    display: none;
  }
  .header .menu-button:checked ~ .menu {
    max-height: 240px;
  }
  .header .menu-button:checked ~ .menu-icon .nav-icon {
    background: transparent;
  }
  .header .menu-button:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  .header .menu-button:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    margin: 35px;
    padding: 65px 55px;
    width: 100vw;
  }
  .title-text em {
    text-decoration: line-through;
  }
  .btn-container {
    position: absolute;
    left: 90px;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 345px;
    height: 56px;
    background-color: #00f3bb;
  }
  .button:hover {
    background-image: linear-gradient(to left, #0000fe, #00f0b8);
    color: white;
  }
  .button p {
    font-weight: bold;
  }
  .spotify {
    width: 100vw;
    height: 1500px;
    background-image: linear-gradient(to right, #0000a3, #0000ff);
    clip-path: polygon(100% 5%, 100% 95%, 0% 100%, 0% 10%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .iframe {
    height: 1000px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .episodios h2 {
    color: white;
    position: absolute;
    top: 820px;
  }
  .phone {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100vw;
      height: auto;
  }
  .phone-text {
    margin-left: 70px;
    width: 500px;
    height: 250px;
  }
  .images  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100vw;
    top: 200px;
  }
  .images-title {
    margin: 30px;
  }
  .woman-images {
    width: 100vw; 
    height: auto;   
    line-height: 0px;
    font-size: 0;
    flex-wrap: wrap;
  }
  .info {
    position: relative;
    top: 500px;
    width: 300px;
    left: 30%;
  }
  .svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 600px;
    width: 100vw;
    height: 1400px;
  }
  figure {
    width: 480px;
    height: 290px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
  }
  figcaption {
    font-family: 'IBMPlexSans-SemiBold', sans-serif;
    font-size: 28px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    font-weight: bold;
  }
  .background {
    width: 100vw;
    height: 420px;
    background-image: linear-gradient(to right, #0000a3, #0000ff);
    clip-path: polygon(100% 5%, 100% 100%, 0% 100%, 0% 15%);
    position: relative;
    top: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .background h2 {
    color: #FFFFFF;
    text-align: center;
    width: 100vw;
  }
  .end-button-container {
    position: absolute;
  }
  .end-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 345px;
    height: 56px;
    background-color: #00f3bb;
  }
  .end-button:hover {
    background-image: linear-gradient(to left, #0000fe, #00f0b8);
    color: white;
  }
  footer {
    background: #ffffff;
    position: relative;
    bottom: -390px;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;  
  }
  .icons {
    width: 350px;
    height: 20px;
    display: flex;
    justify-content: space-evenly
  }
  .icons a {
    width: 30px;
  }
  .icons a:hover {
    width: 45px;
  }
  
  @media (min-width: 480px) {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      width: 100vw
    }
    html {
      scroll-behavior: smooth;
    }
    .header {
      background-color: #ffffff;
      width: 100vw;
    }
    .header li {
      float: left;
    }
    .header li a {
      padding: 15px 20px;
      background-color: white;
      color: #060a24;
    }
    .header ul a:hover {
      background: white;
      color: #00f3bb;
      text-decoration: line-through;
    }
    .header ul a:active {
      color: #060a2469;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    .title-text {
      font-family: 'IBM Plex Sans', sans-serif;
      font-size: 48px;
      color: #060A24;
      letter-spacing: 0;
      font-weight: lighter;

    }
    .subtitle-text {
      font-family: "IBM Plex Sans", sans-serif;
      font-size: 36px;
      color: #060A24;
      letter-spacing: 0;
    }
    .paragraph-text  {
      font-family: 'IBM Plex Mono', monospace;
      font-size: 16px;
      color: #060A24;
      letter-spacing: 0;
      line-height: 24px;
    }
    .text-container {
      display: flex;
      flex-direction: column;
      margin: 35px;
      padding: 65px 55px;
      width: 900px;
    }
    .btn-style p {
      font-family: 'IBMPlexMono-Medium', monospace;
      font-size: 18px;
      letter-spacing: 0;
      text-align: center;
      line-height: 24px;
    }
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 226px;
      height: 56px;
      background-color: #00f3bb;
    }
    .spotify {
      width: 100vw;
      height: 1392px;
      background-image: linear-gradient(to right, #0000a3, #0000ff);
      clip-path: polygon(100% 0%, 100% 85%, 0% 100%, 0% 15%);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .episodios h2 {
      top: 650px;
    }
    .iframe {
      height: 660px;
      width: 1000px;
      display: flex;
      justify-content: space-between;
    }
    .phone {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100vw;
      height: auto;
    }
    .phone-image {
      position: absolute;
      top: 1550px;
      left: 5%;
    }
   
    .phone-text {
      width: 380px;
      height: 220px; 
    }
    
    .images {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      height: 1400px;
      width: 100vw;
      top: 500px;
     
    }
    .woman-images {
      width: 100vw; 
      height: auto;   
      flex-wrap: wrap;
      line-height: 0px;
      font-size: 0;
      object-fit: fill;
    }
    
    .info {
      position: relative;
      top: 600px;
      left: 10%;
      width: 820px;
    }
    .svg {
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 100vw;
      height: 600px;
      position: relative;
      top: 600px;
    }
    .background {
      width: 100vw;
      height: 520px;
      background-image: linear-gradient(to right, #0000a3, #0000ff);;
      clip-path: polygon(100% 5%, 100% 100%, 0% 100%, 0% 15%);
      position: relative;
      top: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .background h2 {
      width: 800px;
    }
    .end-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 345px;
      height: 56px;
      background-color: #00f3bb;
    }
    .end-button:hover {
      background-image: linear-gradient(to left, #0000fe, #00f0b8);
      color: white;
    }
    figure {
      width: 340px;
      padding-left: 50px;
      display: flex;
      flex-direction: column;
    }
    figcaption {
      font-family: 'IBMPlexSans-SemiBold', sans-serif;
      font-size: 28px;
      color: #060A24;
      letter-spacing: 0;
      text-align: center;
      font-weight: bold;
      padding: 10px;
    }
    footer {
      background: #ffffff;
      position: relative;
      bottom: -500px;
      width: 100%;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
    }
    .icons {
      width: 650px;
      height: 30px;
      display: flex;
      justify-content: space-evenly
    }
  }
  @media (min-width: 768px) {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      width: 100vw
    }
    html {
      scroll-behavior: smooth;
    }
    .header {
      background-color: #ffffff;
      width: 100vw;
    }
    .header li {
      float: left;
    }
    .header li a {
      padding: 15px 20px;
      background-color: white;
      color: #060a24;
    }
    .header ul a:hover {
      background: white;
      color: #00f3bb;
      text-decoration: line-through;
    }
    .header ul a:active {
      color: #060a2469;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    .images {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      height: 1400px;
      width: 100vw;
      top: 700px;
     
    }
    .woman-images {
      width: 100vw; 
      height: auto;   
      flex-wrap: wrap;
      line-height: 0px;
      font-size: 0;
      object-fit: fill;
    }

  }
  @media (min-width: 1024px) {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      width: 100vw
    }
    html {
      scroll-behavior: smooth;
    }
    .header {
      background-color: #ffffff;
      width: 100vw;
    }
    .header li {
      float: left;
    }
    .header li a {
      padding: 15px 20px;
      background-color: white;
      color: #060a24;
    }
    .header ul a:hover {
      background: white;
      color: #00f3bb;
      text-decoration: line-through;
    }
    .header ul a:active {
      color: #060a2469;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    .phone {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100vw;
      height: auto;
    }
    
    .phone-text {
      margin-left: 500px;
      width: 380px;
      height: 220px; 
    }
    .images {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      height: 1400px;
      width: 100vw;
      top: 650px;
    }
    .woman-images {
      width: 100vw; 
      height: 100vh;   
      flex-wrap: wrap;
      line-height: 0px;
      font-size: 0;
    }
    .woman-images img {
      width: 460px;
    }
    .info {
      position: relative;
      top: 200px;
      left: 10%;
      width: 820px;
    }
    .svg {
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 100vw;
      height: 600px;
      position: relative;
      top: 140px;
    }
    .background {
      width: 100vw;
      height: 520px;
      background-image: linear-gradient(to right, #0000a3, #0000ff);;
      clip-path: polygon(100% 5%, 100% 100%, 0% 100%, 0% 15%);
      position: relative;
      top: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    footer {
      background: #ffffff;
      position: relative;
      bottom: -90px;
      width: 100%;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;  
    }

  }
  @media (min-width: 1440px) {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      width: 100vw
    }
    html {
      scroll-behavior: smooth;
    }
    .header {
      background-color: #ffffff;
      width: 100vw;
    }
    .header li {
      float: left;
    }
    .header li a {
      padding: 15px 20px;
      background-color: white;
      color: #060a24;
    }
    .header ul a:hover {
      background: white;
      color: #00f3bb;
      text-decoration: line-through;
    }
    .header ul a:active {
      color: #060a2469;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    .phone {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100vw;
      height: auto;
    }
    
    .phone-text {
      margin-left: 500px;
      width: 380px;
      height: 220px; 
    }
    .images {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      height: 1400px;
      width: 100vw;
      top: 300px;
     
    }
    .woman-images {
      width: 100vw; 
      height: auto;   
      flex-wrap: wrap;
      line-height: 0px;
      font-size: 0;
    }
    .info {
      position: relative;
      top: 100px;
      left: 10%;
      width: 820px;
    }
    .svg {
      display: flex;
      justify-content: center;
      flex-direction: row;
      width: 100vw;
      height: 600px;
      position: relative;
      top: 120px;
    }
    .background {
      width: 100vw;
      height: 520px;
      background-image: linear-gradient(to right, #0000a3, #0000ff);;
      clip-path: polygon(100% 5%, 100% 100%, 0% 100%, 0% 15%);
      position: relative;
      top: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    footer {
      background: #ffffff;
      position: relative;
      bottom: -90px;
      width: 100%;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;  
    }

  }